<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>상품 목록</title>
    <style>
        th{
            padding-right: 50px;
        }
    </style>
</head>
<body>
<h2 style="display: inline">상품목록</h2>
<button onclick="location.href='/'" style="float:right">홈</button>
<form name="searchs" method="post" action="/item/searchItem" th:align="left">
    <select name="status">
        <option value="name">이름</option>
        <option value="price">가격</option>
    </select>
    <input type="text" name="search">
    <button type="submit">검색</button>
</form><hr>
<table>
    <tr><th>no</th>
        <th>이름</th>
        <th>가격</th>
        <th>수량</th>
        <th>등록자</th>
        <th>수정</th>
    </tr>
    <tr th:each="item,i : ${items}">
        <form name="editItem" id="editItem" method="post" action="/item/editItem">
            <input name="itemID" th:value="${item.itemID}" type="hidden">
            <td th:text ="${i.index+1}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.volume}"></td>
            <td th:text="${item.register}"></td>
            <td><button type="submit">수정</button></td>
        </form>
    </tr>
</table>
</body>
</html>