<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>stock info</title>

    <!-- Custom fonts for this template -->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
    <style>
        body{
            -ms-overflow-style: none;
        }

        ::-webkit-scrollbar {
            display: none;
        }
    </style>
    <script>
        function checkStar(){

        }
    </script>

</head>
<input type="hidden" th:value="'KRX:' + ${ticker.srtnCd}" name="ticker" id="ticker" value="KRX:005930">
<body id="page-top">
<div id="wrapper">
    <nav th:include="/sidebar/sidenav.html"/>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <header th:include="/sidebar/header.html"></header>
            <div class="btn" style="float: right; margin-top: 0px;padding-top: 0px">
                <a style="font-weight: bold">내 종목 추가</a>
                <button type="button" id="star" name="star" style="background: none; border: none;" >
                    <img th:src="@{/img/star.png}"><img th:src="@{/img/checkStar.png}">
                </button>
            </div>

            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container" id="trading-view-symbol">
                <div class="tradingview-widget-container__widget"></div>
                <script>
                    document.getElementById("trading-view-symbol").innerHTML = "";
                    var script = document.createElement("script");
                    var ticker  = $('#ticker').val()
                    script.setAttribute('src', 'https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js');
                    script.text = '{\n' +
                        '                        "symbol": "' + ticker + '",' +
                        '                        "width": "100%",\n' +
                        '                        "locale": "kr",\n' +
                        '                        "colorTheme": "light",\n' +
                        '                        "isTransparent": true\n' +
                        '                    }'
                    document.getElementById("trading-view-symbol").appendChild(script);
                </script>
            </div>
            <!-- TradingView Widget END -->
            <div class="m-2 p-2">
<!--                get margin-->
            </div>

            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container" id="trading-view-chart">
                <div id="tradingview_d28c8"></div>
                <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                <script>

                    document.getElementById("trading-view-chart").innerHTML = "";
                    var script = document.createElement("script");
                    var ticker  = $('#ticker').val()
                    script.text = ' new Tradingview.widget({\n' +
                        '                            "width": "100%",\n' +
                        '                            "height": 500,\n' +
                        '                            "symbol": "' + ticker + '",' +
                        '                            "interval": "D",\n' +
                        '                            "timezone": "Etc/UTC",\n' +
                        '                            "theme": "light",\n' +
                        '                            "style": "1",\n' +
                        '                            "locale": "kr",\n' +
                        '                            "toolbar_bg": "#f1f3f6",\n' +
                        '                            "enable_publishing": false,\n' +
                        '                            "allow_symbol_change": false,\n' +
                        '                            "container_id": "tradingview_d28c8"\n' +
                        '                        });'
                    document.getElementById("trading-view-chart").appendChild(script);
                </script>
                <script type="text/javascript">
                    new TradingView.widget(
                        {
                            "width": "100%",
                            "height": 500,
                            "symbol": $('#ticker').val(),
                            "interval": "D",
                            "timezone": "Etc/UTC",
                            "theme": "light",
                            "style": "1",
                            "locale": "kr",
                            "toolbar_bg": "#f1f3f6",
                            "enable_publishing": false,
                            "allow_symbol_change": false,
                            "container_id": "tradingview_d28c8"
                        }
                    );
                </script>
            </div>
            <!-- TradingView Widget END -->

            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container" id="trading-view-describe">
                <script>
                    document.getElementById("trading-view-describe").innerHTML = "";
                    var script = document.createElement("script");
                    var ticker  = $('#ticker').val()
                    script.setAttribute('src', 'https://s3.tradingview.com/external-embedding/embed-widget-financials.js');
                    script.text = ' {\n' +
                        '                        "colorTheme": "light",\n' +
                        '                        "isTransparent": false,\n' +
                        '                        "largeChartUrl": "",\n' +
                        '                        "displayMode": "adaptive",\n' +
                        '                        "width": "100%",\n' +
                        '                        "height": "100%",\n' +
                        '                        "symbol": "' + ticker + '",' +
                        '                        "locale": "kr"\n' +
                        '                    }'
                    document.getElementById("trading-view-describe").appendChild(script);
                </script>
            </div>
            <!-- TradingView Widget END -->
            <footer th:include="/sidebar/footer.html"></footer>
        </div>

    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/datatables-demo.js}"></script>

</body>

</html>