<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>유저 목록</title>
    <style>
        th{
            padding-right: 50px;
        }
    </style>
</head>
<body>
<h2 style="display: inline">유저 목록</h2>
<button class="btn btn-primary" onclick="location.href='/'" style="float:right">홈</button>
<form name="searchs" method="post" action="/memberList/searchMember" th:align="left">
    <select name="status">
        <option value="name">이름</option>
        <option value="age">나이</option>
        <option value="email">이메일</option>
    </select>
    <input type="text" name="search">
    <button type="submit">검색</button>
</form><hr>

<table>
    <tr><th>no</th>
        <th>이름</th>
        <th>나이</th>
        <th>이메일</th>
    </tr>
    <tr th:each="member,i : ${members}">
        <td th:text ="${i.index+1}"></td>
        <td th:text="${member.name}"></td>
        <td th:text="${member.age}"></td>
        <td th:text="${member.email}"></td>
    </tr>
</table>

</body>
</html>