<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <title>계정 생성</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        function infoCheck() {
            var i = document.info

            if (i.id.value == "") {
                alert("아이디를 입력하세요")
                i.id.focus()
                return false
            }
            if (i.password.value == "") {
                alert("비밀번호를 입력하세요")
                i.password.focus()
                return false
            }
            if (i.passRe.value == "") {
                alert("비밀번호 확인을 입력하세요")
                i.passRe.focus()
                return false
            }
            if (i.email.value == "") {
                alert("이메일을 입력하세요")
                i.email.focus()
                return false
            }
            if (i.age.value == "") {
                alert("나이를 입력하세요")
                i.age.focus()
                return false
            }
            if (i.name.value == "") {
                alert("이름을 입력하세요")
                i.name.focus()
                return false
            }
            if (i.valiCheckID.value == "false") {
                alert("아이디 중복여부를 확인하세요")
                i.username.focus()
                return false
            }
            if (i.valiCheckEmail.value == "false") {
                alert("이메일 중복여부를 확인하세요")
                i.email.focus()
                return false
            }

            if (i.password.value != i.passRe.value) {
                alert("비밀번호가 일치하지 않습니다")
                i.password.focus()
                return false
            }
            var regEmail = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/;
            if (regEmail.test(i.email.value) != true) {
                alert('이메일 형식에 맞지 않습니다.');
                i.email.focus()
                return false
            }
            i.submit()
        }
    </script>
    <script>
        function checkID() {
            var i = document.info

            if (i.username.value == "") {
                alert("아이디를 입력하세요")
                i.username.focus()
                return false
            }

            var username = $('#username').val();
            var header = $("meta[name='_csrf_header']").attr('content');
            var token = $("meta[name='_csrf']").attr('content');

            $.ajax({
                url: '/login/id/check',
                type: 'post',
                data: {username: username},
                beforeSend: function (jqXHR, settings) {
                    var header = $("meta[name='_csrf_header']").attr("content");
                    var token = $("meta[name='_csrf']").attr("content");
                    jqXHR.setRequestHeader(header, token);
                },
                success: function (result) {
                    alert("사용 가능한 아이디 입니다")
                    i.valiCheckID.value = "true"
                }, error: function (error) {
                    alert("이미 사용중인 아이디 입니다")
                }
            })
        }

        function checkEmail() {
            var i = document.info

            if (i.email.value == "") {
                alert("아이디를 입력하세요")
                i.email.focus()
                return false
            }

            var email = $('#username').val();
            var header = $("meta[name='_csrf_header']").attr('content');
            var token = $("meta[name='_csrf']").attr('content');

            $.ajax({
                url: '/login/email/check',
                type: 'post',
                data: {email: email},
                beforeSend: function (jqXHR, settings) {
                    var header = $("meta[name='_csrf_header']").attr("content");
                    var token = $("meta[name='_csrf']").attr("content");
                    jqXHR.setRequestHeader(header, token);
                },
                success: function (result) {
                    alert("사용 가능한 이메일 입니다")
                    i.valiCheckEmail.value = "true"
                }, error: function (error) {
                    alert("이미 사용중인 이메일 입니다")
                }
            })
        }
    </script>

</head>

<body class="bg-gradient-primary">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-7 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">계정 생성</h1>
                                </div>

                                <form class="user" name="info" method="post" th:action="@{/login/createAccount.do}">
                                    <input type="hidden" name="valiCheckID" value="false">
                                    <input type="hidden" name="valiCheckEmail" value="false">
                                    <div class="form-group row">
                                        <div class="col-sm-10 mb-3 mb-sm-0">
                                            <input type="text" class="form-control form-control-user" id="username"
                                                   name="username"
                                                   placeholder="id">
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="button" onclick="return checkID()"
                                                    class="btn btn-primary btn-user btn-block" name="validationID">중복확인
                                            </button>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group row">
                                        <div class="col-sm-10 mb-3 mb-sm-0">
                                            <input type="email" class="form-control form-control-user" id="email"
                                                   name="email"
                                                   placeholder="이메일">
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="button" onclick="return checkEmail()"
                                                    class="btn btn-primary btn-user btn-block" name="validationEmail">
                                                중복확인
                                            </button>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <input type="password" class="form-control form-control-user"
                                                   id="password" name="password" placeholder="비밀번호">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="password" class="form-control form-control-user"
                                                   id="passRe" name="passRe" placeholder="비밀번호 확인">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control form-control-user" id="age"
                                                   name="age"
                                                   placeholder="나이">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control form-control-user" id="name"
                                                   name="name"
                                                   placeholder="이름">
                                        </div>
                                    </div>
                                    <hr>
                                    <a onclick="return infoCheck()" class="btn btn-primary btn-user btn-block">
                                        계정 등록
                                    </a>
                                    <hr>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="/">이미 계정을 가지고 계십니까? 로그인!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

</body>

</html>