<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <title>로그인</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
    <script>
        function inputCheck() {
            var i = document.IP

            if (i.username.value == "") {
                alert("아이디를 입력하세요")
                i.username.focus()
                return false
            }
            if (i.password.value == "") {
                alert("비밀번호를 입력하세요")
                i.password.focus()
                return false
            }
            i.onsubmit;
        }
    </script>
</head>

<body class="bg-gradient-primary">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-7 col-lg-7 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">환영합니다!</h1>
                                </div>
                                <form name="IP" method="post" onsubmit="return inputCheck()" th:action="@{/login/loginForm}">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user"
                                               name="username" placeholder="아이디를 입력하세요">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user"
                                               name="password" placeholder="비밀번호를 입력하세요">
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input" id="customCheck">
                                            <label class="custom-control-label" for="customCheck">아이디 저장</label>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-user btn-block">
                                        <input type="hidden" value="LOCAL" name="social">
                                        로그인
                                    </button>
                                    <hr>
                                </form>
                                <div class="row d-flex justify-content-center">
                                    <div class="col-2 d-flex justify-content-center">
                                        <button type="button" class="btn btn-google btn-user btn-block"
                                                onclick="location.href='/oauth2/authorization/google'">
                                            <input type="hidden" value="LOCAL" name="GOOGLE">
                                            <i class="fab fa-google fa-fw"></i>
                                        </button>
                                    </div>
                                    <div class="col-2 d-flex justify-content-center">
                                        <button type="button" class="btn btn-user btn-block btn-success"
                                                onclick="location.href='/oauth2/authorization/naver'">
                                            <input type="hidden" value="LOCAL" name="NAVER">
                                            <i class="fab fa-fw">N</i>
                                        </button>
                                    </div>
                                    <div class="col-2 td-flex justify-content-center">
                                        <button type="buttone" class="btn btn-user btn-block btn-warning"
                                                onclick="location.href='/oauth2/authorization/kakao'">
                                            <input type="hidden" value="LOCAL" name="KAKAO">
                                            <i class="fab fa-fw">K</i>
                                        </button>
                                    </div>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="/login/searchID">아이디를 잊으셨나요?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="/login/searchPW">비밀번호를 잊으셨나요?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="/login/createAccount">계정 생성!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

</body>

</html>